body{
    background-color:#F9F3EF;
}
.navigation {
    background-color:#1B3C53;
}
.about-highlight {
    border-radius: 20px;
    background-color: #D2C1B6;
}
.skills{
    background-color: #D2C1B6;
    border-radius: 20px;
}
.projects {
    background-color: #D2C1B6;
}
.contact{
    background-color: #D2C1B6;
}
.feature-icon {
      width: 3rem;
      height: 3rem;
      border-radius: 0.75rem;
      background-color: #456882;
}